* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  *, *::before, *::after {
      box-sizing: inherit;
  }
  
  body {
    font-family: sans-serif;
    height: 100%;
    background-color: purple;
    width: 100%;
  }
  
  #navbar {
    background-color: darkslategray;
    width: 100%;
    height: 60px;
    
  }

  #navbar ul {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  
  }

  #navbar ul li {
   display: inline-block;
   width: 25%;
   line-height: 40px;
   margin: 0 5px;
  }

  #navbar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 800;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  
  #navbar ul li a:hover {
    background-color: purple;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  @media (max-width: 952px) {
    #navbar ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 858px) {
    body {
      overflow: auto;
    }
    .checkbtn {
      display: block;
      
    }
    #navbar ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    #navbar ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    #navbar ul li a {
      font-size: 20px;
    }
    a:hover, a.active {
      background: none;
      color: white;
    }
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  #welcome-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
  }
  
  #welcome-section h1 {
    font-weight: 800;
  }
  
  #welcome-section h3 {
    color: white;
  }
  
  #projects {
      text-align: center;
      padding: 10rem 2rem;
      background-color: darkslategray;
      color: white;
  }
  
  #projects h1 {
    margin: 0;
    padding: 0 0 100px 0;
  }
  
  #project-grid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 4rem;
      width: 100%;
      max-width: 1280px;
      margin: 0 auto;
      margin-bottom: 6rem;
  }
  
  #contact {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem;
      margin-top: 40px;
  }
  
  #contact h1 {
    color: white;
    margin-bottom: 40px;
  }
  
  svg {
    box-sizing: border-box;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    width: 2em;
    height: 2em;
    line-height: 100%;
  }
  
  footer {
    text-align: center;
    color: white;
    font-weight: 700;
  }